<h1>Keto Kitten</h1>
<p id="index-title">Home page of the Keto Kitten</p>

<div class="posts">Post 1</div>
<div class="posts">Post 2</div>

<section>This is the content in a section element. </section>
